https://oracleselixir.com/tools/downloads

In [1]:
import pandas as pd
import numpy as np

In [2]:
esports2022 = pd.read_csv("./2022_LoL_esports_match_data_from_OraclesElixir.csv")

C:\Users\Florence.000\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
perry = esports2022[esports2022["playername"] == "Perry"]

## list all columns

In [4]:
list(esports2022.columns)

['gameid',
 'datacompleteness',
 'url',
 'league',
 'year',
 'split',
 'playoffs',
 'date',
 'game',
 'patch',
 'participantid',
 'side',
 'position',
 'playername',
 'playerid',
 'teamname',
 'teamid',
 'champion',
 'ban1',
 'ban2',
 'ban3',
 'ban4',
 'ban5',
 'gamelength',
 'result',
 'kills',
 'deaths',
 'assists',
 'teamkills',
 'teamdeaths',
 'doublekills',
 'triplekills',
 'quadrakills',
 'pentakills',
 'firstblood',
 'firstbloodkill',
 'firstbloodassist',
 'firstbloodvictim',
 'team kpm',
 'ckpm',
 'firstdragon',
 'dragons',
 'opp_dragons',
 'elementaldrakes',
 'opp_elementaldrakes',
 'infernals',
 'mountains',
 'clouds',
 'oceans',
 'chemtechs',
 'hextechs',
 'dragons (type unknown)',
 'elders',
 'opp_elders',
 'firstherald',
 'heralds',
 'opp_heralds',
 'firstbaron',
 'barons',
 'opp_barons',
 'firsttower',
 'towers',
 'opp_towers',
 'firstmidtower',
 'firsttothreetowers',
 'turretplates',
 'opp_turretplates',
 'inhibitors',
 'opp_inhibitors',
 'damagetochampions',
 'dpm',
 'damageshare',
 'damagetakenperminute',
 'damagemitigatedperminute',
 'wardsplaced',
 'wpm',
 'wardskilled',
 'wcpm',
 'controlwardsbought',
 'visionscore',
 'vspm',
 'totalgold',
 'earnedgold',
 'earned gpm',
 'earnedgoldshare',
 'goldspent',
 'gspd',
 'total cs',
 'minionkills',
 'monsterkills',
 'monsterkillsownjungle',
 'monsterkillsenemyjungle',
 'cspm',
 'goldat10',
 'xpat10',
 'csat10',
 'opp_goldat10',
 'opp_xpat10',
 'opp_csat10',
 'golddiffat10',
 'xpdiffat10',
 'csdiffat10',
 'killsat10',
 'assistsat10',
 'deathsat10',
 'opp_killsat10',
 'opp_assistsat10',
 'opp_deathsat10',
 'goldat15',
 'xpat15',
 'csat15',
 'opp_goldat15',
 'opp_xpat15',
 'opp_csat15',
 'golddiffat15',
 'xpdiffat15',
 'csdiffat15',
 'killsat15',
 'assistsat15',
 'deathsat15',
 'opp_killsat15',
 'opp_assistsat15',
 'opp_deathsat15']

In [5]:
perry

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15
349,NA1_4170696128,complete,NaN,Proving Grounds Circuit,2022,NaN,0,2022-01-10 23:17:32,1,12.01,...,97.0,1425.0,1283.0,8.0,3.0,1.0,0.0,0.0,3.0,1.0
486,NA1_4170926227,complete,NaN,Proving Grounds Circuit,2022,NaN,0,2022-01-11 00:54:25,1,12.01,...,94.0,212.0,-180.0,5.0,0.0,2.0,1.0,1.0,1.0,1.0
978,NA1_4173171825,complete,NaN,Proving Grounds Circuit,2022,NaN,0,2022-01-11 23:19:31,1,12.01,...,94.0,-2164.0,-1388.0,-22.0,0.0,4.0,3.0,4.0,6.0,1.0
1122,NA1_4173451548,complete,NaN,Proving Grounds Circuit,2022,NaN,0,2022-01-12 00:58:50,1,12.01,...,59.0,1812.0,1318.0,39.0,3.0,5.0,1.0,2.0,3.0,3.0
1381,NA1_4173452063,complete,NaN,Proving Grounds Circuit,2022,NaN,0,2022-01-12 02:31:11,1,12.01,...,77.0,-276.0,-142.0,-3.0,2.0,1.0,4.0,4.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142146,NA1_4468946576,complete,NaN,UPL,2022,Fall,1,2022-10-22 01:16:56,2,12.20,...,93.0,-1871.0,-818.0,-19.0,1.0,0.0,5.0,2.0,4.0,0.0
142165,NA1_4468946728,complete,NaN,UPL,2022,Fall,1,2022-10-22 01:54:41,3,12.20,...,85.0,-1058.0,-169.0,-15.0,1.0,5.0,3.0,6.0,3.0,1.0
144253,NA1_4475406252,complete,NaN,UPL,2022,Fall,1,2022-10-29 00:20:59,1,12.20,...,94.0,-696.0,-746.0,-29.0,1.0,2.0,2.0,2.0,3.0,2.0
144277,NA1_4475406404,complete,NaN,UPL,2022,Fall,1,2022-10-29 01:16:09,2,12.20,...,65.0,187.0,-65.0,-4.0,1.0,4.0,0.0,1.0,5.0,2.0
144289,NA1_4475286826,complete,NaN,UPL,2022,Fall,1,2022-10-29 02:04:57,3,12.20,...,82.0,714.0,148.0,9.0,1.0,1.0,1.0,1.0,1.0,1.0

## find NAs

In [6]:
perry.isna().sum()

gameid               0
datacompleteness     0
url                 67
league               0
year                 0
                    ..
assistsat15          0
deathsat15           0
opp_killsat15        0
opp_assistsat15      0
opp_deathsat15       0
Length: 123, dtype: int64

## have all the exact numbers outputted

In [7]:
# can use list or array; must use list when using .index tho since np.array doesnt have .index function
np.array([perry.isna().sum()])
# list(perry.isna().sum())

array([[ 0,  0, 67,  0,  0, 36,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0, 67, 67, 67, 67, 67, 67, 67, 67,
        67, 67, 67, 67, 67, 67, 67, 67, 67, 67,  0,  0, 67, 67, 67, 67,
        67, 67, 67,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0, 67,  0,  0,  0, 67, 67,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0]], dtype=int64)

## find the column that has 36 NAs

In [8]:
perry.columns[list(perry.isna().sum()).index(36)]

'split'

## find the columns that have 67 NAs (instances of 67)

In [9]:
indices = [ind for ind, ele in enumerate(perry.isna().sum()) if ele == 67]

In [10]:
perry.columns[indices]

Index(['url', 'firstdragon', 'dragons', 'opp_dragons', 'elementaldrakes',
       'opp_elementaldrakes', 'infernals', 'mountains', 'clouds', 'oceans',
       'chemtechs', 'hextechs', 'dragons (type unknown)', 'elders',
       'opp_elders', 'firstherald', 'heralds', 'opp_heralds', 'firstbaron',
       'firsttower', 'towers', 'opp_towers', 'firstmidtower',
       'firsttothreetowers', 'turretplates', 'opp_turretplates', 'gspd',
       'monsterkillsownjungle', 'monsterkillsenemyjungle'],
      dtype='object')

In [11]:
len(perry.columns[indices])

29

## delete columns that have these NAs (idc about 36 or 67)

In [12]:
perry = perry.dropna(axis = 1)
perry

,gameid,datacompleteness,league,year,playoffs,date,game,patch,participantid,side,...,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15
349,NA1_4170696128,complete,Proving Grounds Circuit,2022,0,2022-01-10 23:17:32,1,12.01,2,Blue,...,97.0,1425.0,1283.0,8.0,3.0,1.0,0.0,0.0,3.0,1.0
486,NA1_4170926227,complete,Proving Grounds Circuit,2022,0,2022-01-11 00:54:25,1,12.01,7,Red,...,94.0,212.0,-180.0,5.0,0.0,2.0,1.0,1.0,1.0,1.0
978,NA1_4173171825,complete,Proving Grounds Circuit,2022,0,2022-01-11 23:19:31,1,12.01,7,Red,...,94.0,-2164.0,-1388.0,-22.0,0.0,4.0,3.0,4.0,6.0,1.0
1122,NA1_4173451548,complete,Proving Grounds Circuit,2022,0,2022-01-12 00:58:50,1,12.01,7,Red,...,59.0,1812.0,1318.0,39.0,3.0,5.0,1.0,2.0,3.0,3.0
1381,NA1_4173452063,complete,Proving Grounds Circuit,2022,0,2022-01-12 02:31:11,1,12.01,2,Blue,...,77.0,-276.0,-142.0,-3.0,2.0,1.0,4.0,4.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142146,NA1_4468946576,complete,UPL,2022,1,2022-10-22 01:16:56,2,12.20,7,Red,...,93.0,-1871.0,-818.0,-19.0,1.0,0.0,5.0,2.0,4.0,0.0
142165,NA1_4468946728,complete,UPL,2022,1,2022-10-22 01:54:41,3,12.20,2,Blue,...,85.0,-1058.0,-169.0,-15.0,1.0,5.0,3.0,6.0,3.0,1.0
144253,NA1_4475406252,complete,UPL,2022,1,2022-10-29 00:20:59,1,12.20,2,Blue,...,94.0,-696.0,-746.0,-29.0,1.0,2.0,2.0,2.0,3.0,2.0
144277,NA1_4475406404,complete,UPL,2022,1,2022-10-29 01:16:09,2,12.20,2,Blue,...,65.0,187.0,-65.0,-4.0,1.0,4.0,0.0,1.0,5.0,2.0
144289,NA1_4475286826,complete,UPL,2022,1,2022-10-29 02:04:57,3,12.20,2,Blue,...,82.0,714.0,148.0,9.0,1.0,1.0,1.0,1.0,1.0,1.0

## delete columns that have opponent information in them

In [13]:
perry.columns

Index(['gameid', 'datacompleteness', 'league', 'year', 'playoffs', 'date',
       'game', 'patch', 'participantid', 'side', 'position', 'playername',
       'playerid', 'teamname', 'teamid', 'champion', 'ban1', 'ban2', 'ban3',
       'ban4', 'ban5', 'gamelength', 'result', 'kills', 'deaths', 'assists',
       'teamkills', 'teamdeaths', 'doublekills', 'triplekills', 'quadrakills',
       'pentakills', 'firstblood', 'firstbloodkill', 'firstbloodassist',
       'firstbloodvictim', 'team kpm', 'ckpm', 'barons', 'opp_barons',
       'inhibitors', 'opp_inhibitors', 'damagetochampions', 'dpm',
       'damageshare', 'damagetakenperminute', 'damagemitigatedperminute',
       'wardsplaced', 'wpm', 'wardskilled', 'wcpm', 'controlwardsbought',
       'visionscore', 'vspm', 'totalgold', 'earnedgold', 'earned gpm',
       'earnedgoldshare', 'goldspent', 'total cs', 'minionkills',
       'monsterkills', 'cspm', 'goldat10', 'xpat10', 'csat10', 'opp_goldat10',
       'opp_xpat10', 'opp_csat10', 'golddiffat10', 'xpdiffat10', 'csdiffat10',
       'killsat10', 'assistsat10', 'deathsat10', 'opp_killsat10',
       'opp_assistsat10', 'opp_deathsat10', 'goldat15', 'xpat15', 'csat15',
       'opp_goldat15', 'opp_xpat15', 'opp_csat15', 'golddiffat15',
       'xpdiffat15', 'csdiffat15', 'killsat15', 'assistsat15', 'deathsat15',
       'opp_killsat15', 'opp_assistsat15', 'opp_deathsat15'],
      dtype='object')

### find the indices where the column name starts with "opp"

In [14]:
[ind for ind, ele in enumerate(perry.columns) if "opp" in ele]

[39, 41, 66, 67, 68, 75, 76, 77, 81, 82, 83, 90, 91, 92]

In [15]:
perry.columns[[ind for ind, ele in enumerate(perry.columns) if "opp" in ele]]

Index(['opp_barons', 'opp_inhibitors', 'opp_goldat10', 'opp_xpat10',
       'opp_csat10', 'opp_killsat10', 'opp_assistsat10', 'opp_deathsat10',
       'opp_goldat15', 'opp_xpat15', 'opp_csat15', 'opp_killsat15',
       'opp_assistsat15', 'opp_deathsat15'],
      dtype='object')

### delete opponent columns

In [16]:
perry.drop(perry.columns[[ind for ind, ele in enumerate(perry.columns) if "opp" in ele]], axis = 1, inplace = True)

C:\Users\Florence.000\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [17]:
perry.columns

Index(['gameid', 'datacompleteness', 'league', 'year', 'playoffs', 'date',
       'game', 'patch', 'participantid', 'side', 'position', 'playername',
       'playerid', 'teamname', 'teamid', 'champion', 'ban1', 'ban2', 'ban3',
       'ban4', 'ban5', 'gamelength', 'result', 'kills', 'deaths', 'assists',
       'teamkills', 'teamdeaths', 'doublekills', 'triplekills', 'quadrakills',
       'pentakills', 'firstblood', 'firstbloodkill', 'firstbloodassist',
       'firstbloodvictim', 'team kpm', 'ckpm', 'barons', 'inhibitors',
       'damagetochampions', 'dpm', 'damageshare', 'damagetakenperminute',
       'damagemitigatedperminute', 'wardsplaced', 'wpm', 'wardskilled', 'wcpm',
       'controlwardsbought', 'visionscore', 'vspm', 'totalgold', 'earnedgold',
       'earned gpm', 'earnedgoldshare', 'goldspent', 'total cs', 'minionkills',
       'monsterkills', 'cspm', 'goldat10', 'xpat10', 'csat10', 'golddiffat10',
       'xpdiffat10', 'csdiffat10', 'killsat10', 'assistsat10', 'deathsat10',
       'goldat15', 'xpat15', 'csat15', 'golddiffat15', 'xpdiffat15',
       'csdiffat15', 'killsat15', 'assistsat15', 'deathsat15'],
      dtype='object')

## tally champ appearance so we can use groupby.sum() to find the number of times the champ was picked

In [18]:
perry["champ_appearances"] = [1]*67

<ipython-input-18-1b8229da89b0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  perry["champ_appearances"] = [1]*67

In [19]:
perry.groupby("champion").sum()

,year,playoffs,game,patch,participantid,gamelength,result,kills,deaths,assists,...,goldat15,xpat15,csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,champ_appearances
champion,,,,,,,,,,,,,,,,,,,,,
Diana,4044,2,3,24.10,14,3295,0,2,11,11,...,10170.0,11903.0,220.0,405.0,1035.0,17.0,1.0,1.0,1.0,2
Graves,6066,0,3,36.29,21,6109,1,17,13,21,...,15508.0,16509.0,285.0,-97.0,895.0,10.0,4.0,6.0,3.0,3
Hecarim,10110,3,10,60.47,15,9179,3,19,20,50,...,26568.0,28994.0,489.0,1663.0,1595.0,24.0,8.0,11.0,8.0,5
Jarvan IV,8088,0,5,48.10,13,7085,2,8,21,38,...,20023.0,21306.0,328.0,-1691.0,-841.0,-25.0,6.0,10.0,11.0,4
Kayn,6066,1,5,36.15,16,4847,2,8,12,23,...,16055.0,17572.0,313.0,-888.0,435.0,53.0,2.0,4.0,5.0,3
Lee Sin,4044,0,2,24.02,9,3225,1,8,7,14,...,10261.0,11166.0,177.0,-739.0,-105.0,-14.0,3.0,5.0,3.0,2
Maokai,2022,1,2,12.20,7,1240,0,1,6,0,...,4176.0,5261.0,74.0,-1871.0,-818.0,-19.0,1.0,0.0,5.0,1
Olaf,2022,0,2,12.04,2,2074,1,5,6,10,...,5691.0,5882.0,106.0,1208.0,1218.0,21.0,0.0,1.0,1.0,1
Poppy,4044,2,4,24.30,4,4849,1,5,8,9,...,9271.0,9910.0,178.0,-20.0,-509.0,6.0,1.0,0.0,3.0,2
Sejuani,4044,2,5,24.40,4,3389,0,4,3,12,...,9609.0,9953.0,152.0,901.0,83.0,5.0,2.0,5.0,1.0,2
Trundle,10110,3,10,60.57,20,9220,2,10,27,41,...,22646.0,24242.0,361.0,-5065.0,-3093.0,-90.0,3.0,11.0,12.0,5
Udyr,2022,0,1,12.13,7,2471,1,0,3,10,...,5007.0,5743.0,114.0,-208.0,477.0,32.0,0.0,2.0,0.0,1
Viego,18198,1,15,108.45,48,16535,5,31,24,62,...,51311.0,54828.0,908.0,4406.0,4545.0,135.0,18.0,23.0,5.0,9
Volibear,14154,5,12,84.80,39,13024,5,28,19,68,...,36615.0,38320.0,666.0,2755.0,14.0,26.0,7.0,14.0,6.0,7
Wukong,16176,3,13,96.96,26,16866,4,27,33,76,...,39233.0,42859.0,716.0,-5700.0,-4166.0,-98.0,9.0,9.0,10.0,8
Xin Zhao,24264,4,20,144.64,44,22557,7,40,61,88,...,63637.0,65203.0,1122.0,194.0,723.0,57.0,15.0,20.0,23.0,12

## some useful information SORTED BY CHAMP APPEARANCE (champ appearances, kills, deaths, assists)

In [20]:
perry.groupby("champion").sum().sort_values("champ_appearances", ascending = False)[["champ_appearances", "kills", "deaths", "assists"]]

           champ_appearances  kills  deaths  assists
champion
Xin Zhao                  12     40      61       88
Viego                      9     31      24       62
Wukong                     8     27      33       76
Volibear                   7     28      19       68
Hecarim                    5     19      20       50
Trundle                    5     10      27       41
Jarvan IV                  4      8      21       38
Graves                     3     17      13       21
Kayn                       3      8      12       23
Diana                      2      2      11       11
Lee Sin                    2      8       7       14
Poppy                      2      5       8        9
Sejuani                    2      4       3       12
Maokai                     1      1       6        0
Olaf                       1      5       6       10
Udyr                       1      0       3       10

## all useful information when they're summed - NOT SORTED

In [21]:
perry_champs_sum = perry.groupby("champion").sum()[["champ_appearances", 
                                                    "result",
                                                    "kills", 
                                                    "deaths", 
                                                    "assists",
                                                    "teamkills",
                                                    "teamdeaths",
                                                    'doublekills', 
                                                    'triplekills', 
                                                    'quadrakills', 
                                                    'pentakills',
                                                    "firstblood", 
                                                    "firstbloodvictim",
                                                    "barons"
                                                   ]].reset_index()

In [22]:
perry_champs_sum.rename(columns = {"result":"wins"}, inplace = True)

In [23]:
perry_champs_sum

,champion,champ_appearances,wins,kills,deaths,assists,teamkills,teamdeaths,doublekills,triplekills,quadrakills,pentakills,firstblood,firstbloodvictim,barons
0,Diana,2,0,2,11,11,20,42,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Graves,3,1,17,13,21,49,49,2.0,1.0,0.0,0.0,2.0,1.0,2.0
2,Hecarim,5,3,19,20,50,106,71,1.0,0.0,0.0,0.0,1.0,3.0,3.0
3,Jarvan IV,4,2,8,21,38,62,59,1.0,0.0,0.0,0.0,0.0,1.0,2.0
4,Kayn,3,2,8,12,23,52,51,1.0,0.0,0.0,0.0,1.0,0.0,2.0
5,Lee Sin,2,1,8,7,14,32,37,1.0,0.0,0.0,0.0,1.0,0.0,1.0
6,Maokai,1,0,1,6,0,2,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Olaf,1,1,5,6,10,22,17,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8,Poppy,2,1,5,8,9,24,33,1.0,0.0,0.0,0.0,0.0,1.0,1.0
9,Sejuani,2,0,4,3,12,20,44,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Trundle,5,2,10,27,41,75,96,0.0,0.0,0.0,0.0,2.0,2.0,1.0
11,Udyr,1,1,0,3,10,16,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0
12,Viego,9,5,31,24,62,166,127,3.0,0.0,0.0,0.0,2.0,1.0,4.0
13,Volibear,7,5,28,19,68,142,80,2.0,1.0,0.0,0.0,1.0,1.0,4.0
14,Wukong,8,4,27,33,76,134,149,1.0,0.0,0.0,0.0,4.0,0.0,4.0
15,Xin Zhao,12,7,40,61,88,190,213,3.0,1.0,0.0,0.0,6.0,0.0,3.0

## all useful information when theyre summed - SORTED BY CHAMP APPEARANCE

In [24]:
perry_champs_sum.sort_values("champ_appearances", ascending = False).reset_index(drop = True)

,champion,champ_appearances,wins,kills,deaths,assists,teamkills,teamdeaths,doublekills,triplekills,quadrakills,pentakills,firstblood,firstbloodvictim,barons
0,Xin Zhao,12,7,40,61,88,190,213,3.0,1.0,0.0,0.0,6.0,0.0,3.0
1,Viego,9,5,31,24,62,166,127,3.0,0.0,0.0,0.0,2.0,1.0,4.0
2,Wukong,8,4,27,33,76,134,149,1.0,0.0,0.0,0.0,4.0,0.0,4.0
3,Volibear,7,5,28,19,68,142,80,2.0,1.0,0.0,0.0,1.0,1.0,4.0
4,Hecarim,5,3,19,20,50,106,71,1.0,0.0,0.0,0.0,1.0,3.0,3.0
5,Trundle,5,2,10,27,41,75,96,0.0,0.0,0.0,0.0,2.0,2.0,1.0
6,Jarvan IV,4,2,8,21,38,62,59,1.0,0.0,0.0,0.0,0.0,1.0,2.0
7,Graves,3,1,17,13,21,49,49,2.0,1.0,0.0,0.0,2.0,1.0,2.0
8,Kayn,3,2,8,12,23,52,51,1.0,0.0,0.0,0.0,1.0,0.0,2.0
9,Diana,2,0,2,11,11,20,42,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Lee Sin,2,1,8,7,14,32,37,1.0,0.0,0.0,0.0,1.0,0.0,1.0
11,Poppy,2,1,5,8,9,24,33,1.0,0.0,0.0,0.0,0.0,1.0,1.0
12,Sejuani,2,0,4,3,12,20,44,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,Maokai,1,0,1,6,0,2,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,Olaf,1,1,5,6,10,22,17,0.0,0.0,0.0,0.0,0.0,1.0,0.0
15,Udyr,1,1,0,3,10,16,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0

## create win ratio column

In [25]:
perry_champs_sum["win_ratio"] = perry_champs_sum["wins"]/perry_champs_sum["champ_appearances"]
perry_champs_sum

,champion,champ_appearances,wins,kills,deaths,assists,teamkills,teamdeaths,doublekills,triplekills,quadrakills,pentakills,firstblood,firstbloodvictim,barons,win_ratio
0,Diana,2,0,2,11,11,20,42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
1,Graves,3,1,17,13,21,49,49,2.0,1.0,0.0,0.0,2.0,1.0,2.0,0.333333
2,Hecarim,5,3,19,20,50,106,71,1.0,0.0,0.0,0.0,1.0,3.0,3.0,0.600000
3,Jarvan IV,4,2,8,21,38,62,59,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.500000
4,Kayn,3,2,8,12,23,52,51,1.0,0.0,0.0,0.0,1.0,0.0,2.0,0.666667
5,Lee Sin,2,1,8,7,14,32,37,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.500000
6,Maokai,1,0,1,6,0,2,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
7,Olaf,1,1,5,6,10,22,17,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.000000
8,Poppy,2,1,5,8,9,24,33,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.500000
9,Sejuani,2,0,4,3,12,20,44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
10,Trundle,5,2,10,27,41,75,96,0.0,0.0,0.0,0.0,2.0,2.0,1.0,0.400000
11,Udyr,1,1,0,3,10,16,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.000000
12,Viego,9,5,31,24,62,166,127,3.0,0.0,0.0,0.0,2.0,1.0,4.0,0.555556
13,Volibear,7,5,28,19,68,142,80,2.0,1.0,0.0,0.0,1.0,1.0,4.0,0.714286
14,Wukong,8,4,27,33,76,134,149,1.0,0.0,0.0,0.0,4.0,0.0,4.0,0.500000
15,Xin Zhao,12,7,40,61,88,190,213,3.0,1.0,0.0,0.0,6.0,0.0,3.0,0.583333

## all useful information when theyre summed - SORTED BY WIN RATIO

In [26]:
perry_champs_sum.sort_values("win_ratio", ascending = False).reset_index(drop = True)

,champion,champ_appearances,wins,kills,deaths,assists,teamkills,teamdeaths,doublekills,triplekills,quadrakills,pentakills,firstblood,firstbloodvictim,barons,win_ratio
0,Olaf,1,1,5,6,10,22,17,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.000000
1,Udyr,1,1,0,3,10,16,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.000000
2,Volibear,7,5,28,19,68,142,80,2.0,1.0,0.0,0.0,1.0,1.0,4.0,0.714286
3,Kayn,3,2,8,12,23,52,51,1.0,0.0,0.0,0.0,1.0,0.0,2.0,0.666667
4,Hecarim,5,3,19,20,50,106,71,1.0,0.0,0.0,0.0,1.0,3.0,3.0,0.600000
5,Xin Zhao,12,7,40,61,88,190,213,3.0,1.0,0.0,0.0,6.0,0.0,3.0,0.583333
6,Viego,9,5,31,24,62,166,127,3.0,0.0,0.0,0.0,2.0,1.0,4.0,0.555556
7,Jarvan IV,4,2,8,21,38,62,59,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.500000
8,Lee Sin,2,1,8,7,14,32,37,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.500000
9,Poppy,2,1,5,8,9,24,33,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.500000
10,Wukong,8,4,27,33,76,134,149,1.0,0.0,0.0,0.0,4.0,0.0,4.0,0.500000
11,Trundle,5,2,10,27,41,75,96,0.0,0.0,0.0,0.0,2.0,2.0,1.0,0.400000
12,Graves,3,1,17,13,21,49,49,2.0,1.0,0.0,0.0,2.0,1.0,2.0,0.333333
13,Diana,2,0,2,11,11,20,42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
14,Maokai,1,0,1,6,0,2,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
15,Sejuani,2,0,4,3,12,20,44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

## create first blood rate column

In [27]:
perry_champs_sum["fb_rate"] = perry_champs_sum["firstblood"]/perry_champs_sum["champ_appearances"]
perry_champs_sum

,champion,champ_appearances,wins,kills,deaths,assists,teamkills,teamdeaths,doublekills,triplekills,quadrakills,pentakills,firstblood,firstbloodvictim,barons,win_ratio,fb_rate
0,Diana,2,0,2,11,11,20,42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1,Graves,3,1,17,13,21,49,49,2.0,1.0,0.0,0.0,2.0,1.0,2.0,0.333333,0.666667
2,Hecarim,5,3,19,20,50,106,71,1.0,0.0,0.0,0.0,1.0,3.0,3.0,0.600000,0.200000
3,Jarvan IV,4,2,8,21,38,62,59,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.500000,0.000000
4,Kayn,3,2,8,12,23,52,51,1.0,0.0,0.0,0.0,1.0,0.0,2.0,0.666667,0.333333
5,Lee Sin,2,1,8,7,14,32,37,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.500000,0.500000
6,Maokai,1,0,1,6,0,2,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
7,Olaf,1,1,5,6,10,22,17,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.000000,0.000000
8,Poppy,2,1,5,8,9,24,33,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.500000,0.000000
9,Sejuani,2,0,4,3,12,20,44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
10,Trundle,5,2,10,27,41,75,96,0.0,0.0,0.0,0.0,2.0,2.0,1.0,0.400000,0.400000
11,Udyr,1,1,0,3,10,16,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.000000,0.000000
12,Viego,9,5,31,24,62,166,127,3.0,0.0,0.0,0.0,2.0,1.0,4.0,0.555556,0.222222
13,Volibear,7,5,28,19,68,142,80,2.0,1.0,0.0,0.0,1.0,1.0,4.0,0.714286,0.142857
14,Wukong,8,4,27,33,76,134,149,1.0,0.0,0.0,0.0,4.0,0.0,4.0,0.500000,0.500000
15,Xin Zhao,12,7,40,61,88,190,213,3.0,1.0,0.0,0.0,6.0,0.0,3.0,0.583333,0.500000

## all useful information when theyre summed - SORTED BY FIRST BLOOD RATE

In [28]:
perry_champs_sum.sort_values("fb_rate", ascending = False).reset_index(drop = True)

,champion,champ_appearances,wins,kills,deaths,assists,teamkills,teamdeaths,doublekills,triplekills,quadrakills,pentakills,firstblood,firstbloodvictim,barons,win_ratio,fb_rate
0,Graves,3,1,17,13,21,49,49,2.0,1.0,0.0,0.0,2.0,1.0,2.0,0.333333,0.666667
1,Lee Sin,2,1,8,7,14,32,37,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.500000,0.500000
2,Wukong,8,4,27,33,76,134,149,1.0,0.0,0.0,0.0,4.0,0.0,4.0,0.500000,0.500000
3,Xin Zhao,12,7,40,61,88,190,213,3.0,1.0,0.0,0.0,6.0,0.0,3.0,0.583333,0.500000
4,Trundle,5,2,10,27,41,75,96,0.0,0.0,0.0,0.0,2.0,2.0,1.0,0.400000,0.400000
5,Kayn,3,2,8,12,23,52,51,1.0,0.0,0.0,0.0,1.0,0.0,2.0,0.666667,0.333333
6,Viego,9,5,31,24,62,166,127,3.0,0.0,0.0,0.0,2.0,1.0,4.0,0.555556,0.222222
7,Hecarim,5,3,19,20,50,106,71,1.0,0.0,0.0,0.0,1.0,3.0,3.0,0.600000,0.200000
8,Volibear,7,5,28,19,68,142,80,2.0,1.0,0.0,0.0,1.0,1.0,4.0,0.714286,0.142857
9,Diana,2,0,2,11,11,20,42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
10,Jarvan IV,4,2,8,21,38,62,59,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.500000,0.000000
11,Maokai,1,0,1,6,0,2,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
12,Olaf,1,1,5,6,10,22,17,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.000000,0.000000
13,Poppy,2,1,5,8,9,24,33,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.500000,0.000000
14,Sejuani,2,0,4,3,12,20,44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
15,Udyr,1,1,0,3,10,16,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.000000,0.000000

In [29]:
perry.columns

Index(['gameid', 'datacompleteness', 'league', 'year', 'playoffs', 'date',
       'game', 'patch', 'participantid', 'side', 'position', 'playername',
       'playerid', 'teamname', 'teamid', 'champion', 'ban1', 'ban2', 'ban3',
       'ban4', 'ban5', 'gamelength', 'result', 'kills', 'deaths', 'assists',
       'teamkills', 'teamdeaths', 'doublekills', 'triplekills', 'quadrakills',
       'pentakills', 'firstblood', 'firstbloodkill', 'firstbloodassist',
       'firstbloodvictim', 'team kpm', 'ckpm', 'barons', 'inhibitors',
       'damagetochampions', 'dpm', 'damageshare', 'damagetakenperminute',
       'damagemitigatedperminute', 'wardsplaced', 'wpm', 'wardskilled', 'wcpm',
       'controlwardsbought', 'visionscore', 'vspm', 'totalgold', 'earnedgold',
       'earned gpm', 'earnedgoldshare', 'goldspent', 'total cs', 'minionkills',
       'monsterkills', 'cspm', 'goldat10', 'xpat10', 'csat10', 'golddiffat10',
       'xpdiffat10', 'csdiffat10', 'killsat10', 'assistsat10', 'deathsat10',
       'goldat15', 'xpat15', 'csat15', 'golddiffat15', 'xpdiffat15',
       'csdiffat15', 'killsat15', 'assistsat15', 'deathsat15',
       'champ_appearances'],
      dtype='object')

In [32]:
perry["league"].unique()

array(['Proving Grounds Circuit', 'LCSA', 'UPL'], dtype=object)

In [33]:
perry["teamname"].unique()

array(['Evil Geniuses Prodigies', '300', 'Dignitas Academy',
       'Area of Effect Pump'], dtype=object)